 
    .footer__column-link {
      line-height: 30px;
      font-size: 18px;
      font-weight: normal;
      color: white;
      text-decoration: none;
      transition:  opacity 0.5s;
     }

    .footer__column-link:hover {
      opacity: .5;
     }
  
  
   