 
    .header__link {
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #2f80ed;
      font-weight: normal;
      transition:  opacity 0.5s;
    }

    .header__link:hover {
      opacity: .5;
    }
    
  