 
    .header__subtitle {
      position: absolute;
      z-index: 2;
      bottom: 30px;
      left: 64px;
      margin: 0;
      padding: 0;
      max-width: 388px;
      line-height: 25px;
      font-size: 18px;
      font-weight: normal;
    }
  