  
    .two-columns__brief {
      margin-top: 0;
      margin-bottom: 0;
      top: 0;
      padding: 0;
      width: 175px;
      line-height: 1.2;
      font-size: 18px;
      font-style: normal;
      color: #2f80ed;
      font-weight: normal;
    }
  